## The code at the bottom of the notebook is how I generated the CSV file
 - The for loop takes about 10 to 15 minutes to run

In [1]:
import rawgpy
import requests
import pandas as pd
import numpy as np
import json
import csv
import os
import rawg

In [181]:
game_df = pd.read_csv('../../DSBA6276_Customer_Analytics/Video_Game_Project/Video_Games_Sales_2013-2018_Full.csv')
game_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating,Brand,GenreNum,PlatBrNum
0,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,97.0,8.2,Rockstar North,M,PlayStation,1,1
1,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,9.66,5.14,0.06,1.41,16.27,97.0,8.1,Rockstar North,M,XBox,1,3
2,Call of Duty: Black Ops 3,PS4,2015,Shooter,Activision,6.03,5.86,0.36,2.38,14.63,NaN,NaN,Treyarch,NaN,PlayStation,5,1
3,Pokemon X/Pokemon Y,3DS,2013,Role-Playing,Nintendo,5.28,4.19,4.35,0.78,14.60,NaN,NaN,Nintendo EAD,NaN,Nintendo,4,2
4,Grand Theft Auto V,PS4,2014,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61,97.0,8.3,Rockstar North,M,PlayStation,1,1

In [92]:
def my_game_name_convert(x):
    if x['Name'] == 'CharadeManiacs':
        return 'Charade Maniacs'
    else:
        return x

In [182]:
game_data = game_df.loc[(game_df.Year_of_Release >= 2013) | (game_df.Year_of_Release <= 2019)]
game_data_copy = game_data.copy()

In [184]:
game_data_copy['Name'] = game_data_copy['Name'].replace('CharadeManiacs','Charade Maniacs').replace('WORKxWORK','WORK')
game_data_copy[game_data_copy['Name']=='Charade Maniacs']
game_data_copy[game_data_copy['Name']=='WORK']

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating,Brand,GenreNum,PlatBrNum
3151,WORK,NS,2018,Role-Playing,FuRyu Corporation,0.0,0.0,0.01,0.0,0.01,NaN,2.5,FuRyu,NaN,Nintendo,3,2

In [4]:
# Control Panel - Environment Variables
email    = os.environ.get('my_email')
password = os.environ.get('my_pass')
key_api  = os.environ.get('api_key')

In [5]:
# api key and login credentials
rawg = rawgpy.RAWG(key_api) # your api key 
rawg.login(email, password) # your email and password

In [6]:

game_name                    = []
game_released                = []
game_rating                  = []
game_genres                  = []
game_playtime                = []

ratings_title                = []
ratings_count                = []
ratings_percent              = []

user_status_yet              = []
user_status_owned            = []
user_status_beaten           = []
user_status_toplay           = []
user_status_dropped          = []
user_status_playing          = []
user_status_metacritic       = []

user_status_score_yet        = []
user_status_score_owned      = []
user_status_score_beaten     = []
user_status_score_toplay     = []
user_status_score_dropped    = []
user_status_score_playing    = []
user_status_score_metacritic = []



for i in range(10):
    game              = rawg.get_request(f"https://api.rawg.io/api/games?dates=2013-01-01,2019-12-31&page={i+1}&page_size=1")
    df                = pd.DataFrame(game)
    g                 = df['results'][0]
    gplaytime         = g['playtime']
    gname             = g['name']
    greleased         = g['released']
    grating           = g['rating']
    ggenres           = g['genres'][0]['name']
    grate_title       = g['ratings'][0]['title']
    grate_count       = g['ratings'][0]['count']
    grate_percent     = g['ratings'][0]['percent']
    
    gstatus_yet       = list(g['added_by_status'].keys())[0]
    gstatus_owned     = list(g['added_by_status'].keys())[1]
    gstatus_beaten    = list(g['added_by_status'].keys())[2]
    gstatus_toplay    = list(g['added_by_status'].keys())[3]
    gstatus_dropped   = list(g['added_by_status'].keys())[4]
    gstatus_playing   = list(g['added_by_status'].keys())[5]
    
    gstatus_score_yet     = g['added_by_status']['yet']
    gstatus_score_owned   = g['added_by_status']['owned']
    gstatus_score_beaten  = g['added_by_status']['beaten']
    gstatus_score_toplay  = g['added_by_status']['toplay']
    gstatus_score_dropped = g['added_by_status']['dropped']
    gstatus_score_playing = g['added_by_status']['playing']

    
    user_status_yet.append(gstatus_yet)
    user_status_owned.append(gstatus_owned)
    user_status_beaten.append(gstatus_beaten)
    user_status_toplay.append(gstatus_toplay)
    user_status_dropped.append(gstatus_dropped)
    user_status_playing.append(gstatus_playing)
    
    user_status_score_yet.append(gstatus_score_yet)
    user_status_score_owned.append(gstatus_score_owned)
    user_status_score_beaten.append(gstatus_score_beaten)
    user_status_score_toplay.append(gstatus_score_toplay)
    user_status_score_dropped.append(gstatus_score_dropped)
    user_status_score_playing.append(gstatus_score_playing)

    
    game_name.append(gname)
    game_released.append(greleased)
    game_rating.append(grating)
    game_genres.append(ggenres)
    game_playtime.append(gplaytime)
    ratings_title.append(grate_title)
    ratings_count.append(grate_count)
    ratings_percent.append(grate_percent)

In [7]:
game_name_df           = pd.DataFrame(game_name, columns=['Game Names'])
game_released_df       = pd.DataFrame(game_released,columns=['Released Date'])
game_rating_df         = pd.DataFrame(game_rating, columns=['Game Rating'])
game_genre_df          = pd.DataFrame(game_genres,columns=['Game Genres'])
game_playtime_df       = pd.DataFrame(game_playtime,columns=['playtime'])
game_rating_title_df   = pd.DataFrame(ratings_title,columns=['Title Ratings'])
game_rating_count_df   = pd.DataFrame(ratings_count,columns=['Ratings Count'])
game_rating_percent_df = pd.DataFrame(ratings_percent,columns=['Ratings Percents'])

game_status_yet        = pd.DataFrame(user_status_yet,columns=['User Status Yet'])
game_status_owned      = pd.DataFrame(user_status_owned,columns=['User Status Owned'])
game_status_beaten     = pd.DataFrame(user_status_beaten,columns=['User Status Beaten'])
game_status_toplay     = pd.DataFrame(user_status_toplay,columns=['User Status Toplay'])
game_status_dropped    = pd.DataFrame(user_status_dropped,columns=['User Status Dropped'])
game_status_playing    = pd.DataFrame(user_status_playing,columns=['User Status Playing'])

game_score_yet         = pd.DataFrame(user_status_score_yet,columns=['User Score Yet'])
game_score_owned       = pd.DataFrame(user_status_score_owned,columns=['User Score Owned'])
game_score_beaten      = pd.DataFrame(user_status_score_beaten,columns=['User Score Beaten'])
game_score_toplay      = pd.DataFrame(user_status_score_toplay,columns=['User Score Toplay'])
game_score_dropped     = pd.DataFrame(user_status_score_yet,columns=['User Score Dropped'])
game_score_playing     = pd.DataFrame(user_status_score_playing,columns=['User Score Playing'])


df_list = [ game_name_df
           ,game_genre_df
           ,game_released_df
           ,game_playtime_df
           ,game_rating_df
           ,game_rating_title_df
           ,game_rating_count_df
           ,game_rating_percent_df
           ,game_status_yet
           ,game_score_yet
           ,game_status_owned
           ,game_score_owned
           ,game_status_beaten
           ,game_score_beaten
           ,game_status_toplay
           ,game_score_toplay
           ,game_status_dropped
           ,game_score_dropped
           ,game_status_playing
           ,game_score_playing]

video_games = pd.concat(df_list,axis=1)
video_games

,Game Names,Game Genres,Released Date,playtime,Game Rating,Title Ratings,Ratings Count,Ratings Percents,User Status Yet,User Score Yet,User Status Owned,User Score Owned,User Status Beaten,User Score Beaten,User Status Toplay,User Score Toplay,User Status Dropped,User Score Dropped,User Status Playing,User Score Playing
0,Grand Theft Auto V,Action,2013-09-17,69,4.48,exceptional,2496,59.08,yet,318,owned,8123,beaten,3434,toplay,378,dropped,318,playing,477
1,The Witcher 3: Wild Hunt,Adventure,2015-05-18,51,4.68,exceptional,3054,78.33,yet,609,owned,6593,beaten,2674,toplay,500,dropped,609,playing,634
2,Tomb Raider (2013),Adventure,2013-03-05,11,4.06,recommended,1504,60.45,yet,356,owned,7154,beaten,2534,toplay,143,dropped,356,playing,77
3,BioShock Infinite,Shooter,2013-03-26,12,4.39,exceptional,1515,55.70,yet,475,owned,6130,beaten,2747,toplay,235,dropped,475,playing,68
4,Life is Strange,Adventure,2015-01-29,7,4.10,exceptional,1055,43.10,yet,515,owned,6520,beaten,2113,toplay,213,dropped,515,playing,125
5,Red Dead Redemption 2,Adventure,2018-10-26,20,4.56,exceptional,2075,71.48,yet,466,owned,4605,beaten,1501,toplay,1211,dropped,466,playing,635
6,DOOM (2016),Shooter,2016-05-13,11,4.39,exceptional,1280,53.27,yet,342,owned,5188,beaten,1723,toplay,337,dropped,342,playing,233
7,Fallout 4,Action,2015-11-09,46,3.76,recommended,1044,47.87,yet,327,owned,5188,beaten,1349,toplay,245,dropped,327,playing,234
8,PAYDAY 2,Shooter,2013-08-13,9,3.49,recommended,686,51.16,yet,315,owned,6531,beaten,421,toplay,54,dropped,315,playing,75
9,Rocket League,Racing,2015-07-07,17,4.02,recommended,1006,55.21,yet,115,owned,5907,beaten,512,toplay,90,dropped,115,playing,396

In [8]:
yet = video_games.drop(['User Status Owned'
                        ,'User Score Owned'
                        ,'User Status Beaten'
                        ,'User Score Beaten'
                        ,'User Status Toplay'
                        ,'User Score Toplay'
                        ,'User Status Dropped'
                        ,'User Score Dropped'
                        ,'User Status Playing'
                        ,'User Score Playing'],axis=1).rename(columns={'User Status Yet': "User Status"
                                                                     ,'User Score Yet': "User Score"})

Owned = video_games.drop(['User Status Yet'
                        ,'User Score Yet'
                        ,'User Status Beaten'
                        ,'User Score Beaten'
                        ,'User Status Toplay'
                        ,'User Score Toplay'
                        ,'User Status Dropped'
                        ,'User Score Dropped'
                        ,'User Status Playing'
                        ,'User Score Playing'],axis=1).rename(columns={'User Status Owned': "User Status"
                                                                     , 'User Score Owned': "User Score"})


Beaten = video_games.drop(['User Status Yet'
                        ,'User Score Yet'
                        ,'User Status Owned'
                        ,'User Score Owned'
                        ,'User Status Toplay'
                        ,'User Score Toplay'
                        ,'User Status Dropped'
                        ,'User Score Dropped'
                        ,'User Status Playing'
                        ,'User Score Playing'],axis=1).rename(columns={'User Status Beaten': "User Status"
                                                                     , 'User Score Beaten': "User Score"})

Toplay = video_games.drop(['User Status Yet'
                        ,'User Score Yet'
                        ,'User Status Owned'
                        ,'User Score Owned'
                        ,'User Status Beaten'
                        ,'User Score Beaten'
                        ,'User Status Dropped'
                        ,'User Score Dropped'
                        ,'User Status Playing'
                        ,'User Score Playing'],axis=1).rename(columns={'User Status Toplay': "User Status"
                                                                     , 'User Score Toplay': "User Score"})

Dropped = video_games.drop(['User Status Yet'
                        ,'User Score Yet'
                        ,'User Status Owned'
                        ,'User Score Owned'   
                        ,'User Status Beaten'
                        ,'User Score Beaten'
                        ,'User Status Toplay'
                        ,'User Score Toplay'
                        ,'User Status Playing'
                        ,'User Score Playing'],axis=1).rename(columns={'User Status Dropped': "User Status"
                                                                     , 'User Score Dropped': "User Score"})


Playing = video_games.drop(['User Status Yet'
                        ,'User Score Yet'
                        ,'User Status Owned'
                        ,'User Score Owned'
                        ,'User Status Beaten'
                        ,'User Score Beaten'
                        ,'User Status Toplay'
                        ,'User Score Toplay'
                        ,'User Status Dropped'
                        ,'User Score Dropped'],axis=1).rename(columns={'User Status Playing': "User Status"
                                                                     , 'User Score Playing': "User Score"})

In [9]:
df_list_long = [yet
               ,Owned
               ,Beaten
               ,Toplay
               ,Dropped
               ,Playing]

video_games_long = pd.concat(df_list_long,axis=0).reset_index().drop('index',axis =1)
video_games_long.head()

,Game Names,Game Genres,Released Date,playtime,Game Rating,Title Ratings,Ratings Count,Ratings Percents,User Status,User Score
0,Grand Theft Auto V,Action,2013-09-17,69,4.48,exceptional,2496,59.08,yet,318
1,The Witcher 3: Wild Hunt,Adventure,2015-05-18,51,4.68,exceptional,3054,78.33,yet,609
2,Tomb Raider (2013),Adventure,2013-03-05,11,4.06,recommended,1504,60.45,yet,356
3,BioShock Infinite,Shooter,2013-03-26,12,4.39,exceptional,1515,55.70,yet,475
4,Life is Strange,Adventure,2015-01-29,7,4.10,exceptional,1055,43.10,yet,515

## All Video Games In Original Dataset

In [196]:
release_date   = []
game_names     = []
playtimes      = []
ratings        = []
reviews_counts = []
metacritics    = []
for i in game_data_copy['Name'].unique()[:len(game_data_copy['Name'].unique())]:
    games             = rawg.get_request(f"https://api.rawg.io/api/games?search={i}&page=1&page_size=1")
   
    gplaytime         = games['results'][0]['playtime']
    gname             = games['results'][0]['name']
    greleased         = games['results'][0]['released']
    grating           = games['results'][0]['rating']
    reviews_count     = games['results'][0]['reviews_count']
    metacritic        = games['results'][0]['metacritic']
    
    
    release_date.append(greleased)
    game_names.append(gname)
    playtimes.append(gplaytime )
    ratings.append(grating)
    metacritics.append(metacritic)
    reviews_counts.append(reviews_count)

In [199]:
game_name_df      = pd.DataFrame(game_names, columns=['Game Names'])
game_released_df  = pd.DataFrame(release_date,columns=['Released Date'])
game_rating_df    = pd.DataFrame(ratings, columns=['Game Rating'])
game_plytime_df   = pd.DataFrame(playtimes,columns=['Playtimes'])
reviews_counts_df = pd.DataFrame(reviews_counts, columns=['Review Counts'])
metacritics_df    = pd.DataFrame(metacritics,columns=['Metacritics Score'])

In [386]:
df_list = [ game_name_df
           ,game_released_df
           ,game_rating_df
           ,reviews_counts_df
           ]

video_games = pd.concat(df_list,axis=1)
video_games

,Game Names,Released Date,Game Rating,Review Counts
0,Grand Theft Auto V,2013-09-17,4.48,4225
1,Call of Duty: Black Ops III,2015-11-06,3.22,1013
2,"Pokémon X, Y",2013-10-12,3.91,269
3,"Pokémon Alpha Sapphire, Omega Ruby",2014-11-21,4.19,202
4,Call of Duty: Ghosts,2013-11-05,3.06,477
...,...,...,...,...
1957,Tokyo Tattoo Girls,2017-11-14,0.00,1
1958,Hakoniwa Company Works,2017-07-13,0.00,1
1959,Mercenaries Saga Chronicles,2018-02-08,0.00,0
1960,Jagged Alliance: Rage!,2018-12-05,2.22,9
1961,Jotun: Valhalla Edition,2015-09-29,3.09,372

In [387]:
video_games.isna().sum()

Game Names        0
Released Date    45
Game Rating       0
Review Counts     0
dtype: int64

In [212]:
# getting working directory
import os
os.getcwd()

'C:\\Users\\sibac'

In [216]:
video_games.to_csv('C:/DSBA6276_Customer_Analytics/Video_Game_Project/games_rating_date.csv',
                             index       = False,
                             header      = True
                            )

In [388]:
game_data_copy.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating,Brand,GenreNum,PlatBrNum
0,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,97.0,8.2,Rockstar North,M,PlayStation,1,1
1,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,9.66,5.14,0.06,1.41,16.27,97.0,8.1,Rockstar North,M,XBox,1,3
2,Call of Duty: Black Ops 3,PS4,2015,Shooter,Activision,6.03,5.86,0.36,2.38,14.63,NaN,NaN,Treyarch,NaN,PlayStation,5,1
3,Pokemon X/Pokemon Y,3DS,2013,Role-Playing,Nintendo,5.28,4.19,4.35,0.78,14.60,NaN,NaN,Nintendo EAD,NaN,Nintendo,4,2
4,Grand Theft Auto V,PS4,2014,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61,97.0,8.3,Rockstar North,M,PlayStation,1,1

In [389]:
game_change_name = game_data_copy.rename(columns={'Name':'Game Names'})
game_change_name.head()

,Game Names,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Developer,Rating,Brand,GenreNum,PlatBrNum
0,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,97.0,8.2,Rockstar North,M,PlayStation,1,1
1,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,9.66,5.14,0.06,1.41,16.27,97.0,8.1,Rockstar North,M,XBox,1,3
2,Call of Duty: Black Ops 3,PS4,2015,Shooter,Activision,6.03,5.86,0.36,2.38,14.63,NaN,NaN,Treyarch,NaN,PlayStation,5,1
3,Pokemon X/Pokemon Y,3DS,2013,Role-Playing,Nintendo,5.28,4.19,4.35,0.78,14.60,NaN,NaN,Nintendo EAD,NaN,Nintendo,4,2
4,Grand Theft Auto V,PS4,2014,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61,97.0,8.3,Rockstar North,M,PlayStation,1,1

In [390]:
game_names2 = pd.DataFrame(video_games['Game Names'].str.lower()).rename(columns={'Game Names':'Game Names 2'})

In [391]:
game_names2

                            Game Names 2
0                     grand theft auto v
1            call of duty: black ops iii
2                           pokémon x, y
3     pokémon alpha sapphire, omega ruby
4                   call of duty: ghosts
...                                  ...
1957                  tokyo tattoo girls
1958              hakoniwa company works
1959         mercenaries saga chronicles
1960              jagged alliance: rage!
1961             jotun: valhalla edition

[1962 rows x 1 columns]

In [395]:
game_names = pd.DataFrame(game_change_name['Game Names'].str.lower().unique(),columns=['Game Names'])
game_names

                                     Game Names
0                            grand theft auto v
1                     call of duty: black ops 3
2                           pokemon x/pokemon y
3     pokemon omega ruby/pokemon alpha sapphire
4                          call of duty: ghosts
...                                         ...
1956                         tokyo tattoo girls
1957                     hakoniwa company works
1958                mercenaries saga chronicles
1959                     jagged alliance: rage!
1960         valhalla hills: definitive edition

[1961 rows x 1 columns]

In [396]:
game_names_merged = pd.concat([game_names,game_names2],axis=1)
game_names_merged

,Game Names,Game Names 2
0,grand theft auto v,grand theft auto v
1,call of duty: black ops 3,call of duty: black ops iii
2,pokemon x/pokemon y,"pokémon x, y"
3,pokemon omega ruby/pokemon alpha sapphire,"pokémon alpha sapphire, omega ruby"
4,call of duty: ghosts,call of duty: ghosts
...,...,...
1957,hakoniwa company works,tokyo tattoo girls
1958,mercenaries saga chronicles,hakoniwa company works
1959,jagged alliance: rage!,mercenaries saga chronicles
1960,valhalla hills: definitive edition,jagged alliance: rage!
1961,NaN,jotun: valhalla edition

In [399]:
video_games.to_csv('C:/DSBA6276_Customer_Analytics/Video_Game_Project/game_names_merged.csv',
                             index       = False,
                             header      = True
                            )

In [351]:
game_data_joined = pd.merge(game_change_name,video_games,on='Game Names',how='left')
game_data_joined.head()

,Game Names,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,...,User_Score,Developer,Rating,Brand,GenreNum,PlatBrNum,Released Date,Game Rating,Review Counts,Metacritics Score
0,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,...,8.2,Rockstar North,M,PlayStation,1,1,2013-09-17,4.48,4225.0,97.0
1,Grand Theft Auto V,X360,2013,Action,Take-Two Interactive,9.66,5.14,0.06,1.41,16.27,...,8.1,Rockstar North,M,XBox,1,3,2013-09-17,4.48,4225.0,97.0
2,Call of Duty: Black Ops 3,PS4,2015,Shooter,Activision,6.03,5.86,0.36,2.38,14.63,...,NaN,Treyarch,NaN,PlayStation,5,1,NaN,NaN,NaN,NaN
3,Pokemon X/Pokemon Y,3DS,2013,Role-Playing,Nintendo,5.28,4.19,4.35,0.78,14.60,...,NaN,Nintendo EAD,NaN,Nintendo,4,2,NaN,NaN,NaN,NaN
4,Grand Theft Auto V,PS4,2014,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61,...,8.3,Rockstar North,M,PlayStation,1,1,2013-09-17,4.48,4225.0,97.0