In [1]:
import pandas as pd
import numpy as np

In [3]:
df_2016 = pd.read_csv('../../DSBA6276_Customer_Analytics/Video_Game_Project/Video_Games_Sales_as_at_22_Dec_2016.csv')

In [5]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2019 = pd.read_csv('../../DSBA6276_Customer_Analytics/Video_Game_Project/vgsales-12-4-2019-short.csv')

In [8]:
df_2019.head()

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year
0,1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,NaN,NaN,NaN,NaN,NaN,2006.0
1,2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,NaN,NaN,NaN,NaN,NaN,1985.0
2,3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,NaN,NaN,NaN,NaN,NaN,2008.0
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
4,5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,NaN,NaN,NaN,NaN,NaN,2009.0

In [27]:
years = [2017,2018,2019]
filter_df = df_2019[df_2019['Year'] >= 2017]
filter_rename = filter_df.rename(columns={"ESRB_Rating": "Rating", 
                                           "Year": "Year_of_Release",
                                           "PAL_Sales":"EU_Sales"})

In [30]:
filter_rename.head()

,Rank,Name,Genre,Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Year_of_Release
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
35,36,Mario Kart 8 Deluxe,Racing,E,NS,Nintendo,Nintendo EPD,9.3,NaN,15.02,NaN,NaN,NaN,NaN,NaN,2017.0
45,46,Red Dead Redemption 2,Action-Adventure,M,PS4,Rockstar Games,Rockstar Games,9.8,NaN,NaN,13.94,5.26,6.21,0.21,2.26,2018.0
48,49,Super Mario Odyssey,Platform,E10,NS,Nintendo,Nintendo EPD,9.9,NaN,13.76,NaN,NaN,NaN,NaN,NaN,2017.0
50,51,Call of Duty: WWII,Shooter,M,PS4,Activision,Sledgehammer Games,8.0,NaN,NaN,13.40,4.67,6.21,0.40,2.12,2017.0

In [31]:
merged_df = filter_rename.append(df)
merged_df.head()

,Rank,Name,Genre,Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Year_of_Release,Critic_Count,User_Count
3,4.0,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0,NaN,NaN
35,36.0,Mario Kart 8 Deluxe,Racing,E,NS,Nintendo,Nintendo EPD,9.3,NaN,15.02,NaN,NaN,NaN,NaN,NaN,2017.0,NaN,NaN
45,46.0,Red Dead Redemption 2,Action-Adventure,M,PS4,Rockstar Games,Rockstar Games,9.8,NaN,NaN,13.94,5.26,6.21,0.21,2.26,2018.0,NaN,NaN
48,49.0,Super Mario Odyssey,Platform,E10,NS,Nintendo,Nintendo EPD,9.9,NaN,13.76,NaN,NaN,NaN,NaN,NaN,2017.0,NaN,NaN
50,51.0,Call of Duty: WWII,Shooter,M,PS4,Activision,Sledgehammer Games,8.0,NaN,NaN,13.40,4.67,6.21,0.40,2.12,2017.0,NaN,NaN

In [32]:
merged_df['Year_of_Release'].unique()

array([2017., 2018., 2020., 2019., 2006., 1985., 2008., 2009., 1996.,
       1989., 1984., 2005., 1999., 2007., 2010., 2013., 2004., 1990.,
       1988., 2002., 2001., 2011., 1998., 2015., 2012., 2014., 1992.,
       1997., 1993., 1994., 1982., 2016., 2003., 1986., 2000.,   nan,
       1995., 1991., 1981., 1987., 1980., 1983.])

In [41]:
from sklearn.impute import KNNImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [35]:
knn = KNNImputer(n_neighbors=5)

In [43]:
merged_df.head()

,Rank,Name,Genre,Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Year_of_Release,Critic_Count,User_Count
3,4.0,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0,NaN,NaN
35,36.0,Mario Kart 8 Deluxe,Racing,E,NS,Nintendo,Nintendo EPD,9.3,NaN,15.02,NaN,NaN,NaN,NaN,NaN,2017.0,NaN,NaN
45,46.0,Red Dead Redemption 2,Action-Adventure,M,PS4,Rockstar Games,Rockstar Games,9.8,NaN,NaN,13.94,5.26,6.21,0.21,2.26,2018.0,NaN,NaN
48,49.0,Super Mario Odyssey,Platform,E10,NS,Nintendo,Nintendo EPD,9.9,NaN,13.76,NaN,NaN,NaN,NaN,NaN,2017.0,NaN,NaN
50,51.0,Call of Duty: WWII,Shooter,M,PS4,Activision,Sledgehammer Games,8.0,NaN,NaN,13.40,4.67,6.21,0.40,2.12,2017.0,NaN,NaN

In [44]:
merged_df.isna().sum()

Rank               16719
Name                   2
Genre                  2
Rating              9102
Platform               0
Publisher             54
Developer           6623
Critic_Score       12352
User_Score         10637
Total_Shipped      20584
Global_Sales        2564
NA_Sales            3071
EU_Sales            3430
JP_Sales            3321
Other_Sales         2956
Year_of_Release      269
Critic_Count       12610
User_Count         13157
dtype: int64

In [50]:
cols_to_impute = [
     'Critic_Score'
    ,'Global_Sales'
    ,'NA_Sales'
    ,'EU_Sales'
    ,'JP_Sales'
    ,'Other_Sales'
    ,'Year_of_Release'
]

In [42]:
knn_imputer_steps = [('knn_imputer',knn)]
knn_imputer_pipeline = Pipeline(knn_imputer_steps)

In [51]:
whole_pipeline = ColumnTransformer([('knn_imputer_pipeline',knn_imputer_pipeline,cols_to_impute)])

In [54]:
imputed_data = pd.DataFrame(whole_pipeline.fit_transform(merged_df))

In [64]:
imputed_data_renamed = imputed_data.rename({0:'Critic_Score'
                                           ,1:'Global_Sales'
                                           ,2:'NA_Sales'
                                           ,3:'EU_Sales'
                                           ,4:'JP_Sales'
                                           ,5:'Other_Sales'
                                           ,6:'Year_of_Release'}, axis='columns')

In [65]:
imputed_data_renamed.head()

,Critic_Score,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Year_of_Release
0,7.7,0.166,0.206,0.042,0.070,0.036,2017.0
1,9.3,0.076,0.030,0.130,0.030,0.016,2017.0
2,9.8,13.940,5.260,6.210,0.210,2.260,2018.0
3,9.9,0.044,0.054,0.056,0.034,0.014,2017.0
4,8.0,13.400,4.670,6.210,0.400,2.120,2017.0